@import url(https://fonts.googleapis.com/css?family=Cabin:400);
.Bsucador-API {
    background: #585858;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.Bsucador-API input {
    background: #222;
    border: 1px solid #444;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 150;
    height: 40px;
    margin: 5px;
    padding: 10px;
    width: 120px;
    text-shadow: 0 -1px 0 #000;
}

.Bsucador-API input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    border-color: #5f5;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.Bsucador-API input:focus::-webkit-input-placeholder {
    color: rgb(42, 211, 42);
}

.Bsucador-API input:focus:-moz-placeholder {
    color: #efe;
}

.Bsucador-API button {
    background: #222;
    border: 1px solid #444;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 0 #000;
    color: #5f5;
    /* color: #fff; */
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    margin: 5px;
    width: 85px;
}


/* .webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
    background: #292929;
    color: #5f5;
    outline: none;
} */

.Bsucador-API button:active {
    background: #292929;
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
    }
}

@media (min-width: 992px) {
    .Bsucador-API {
        width: 30%;
    }
    .Bsucador-API input {
        height: auto;
        width: 35%;
    }
}